#title{
  background-color: #ff4c68;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  color: white;
  padding-top: 10%;
}
.container-fluid{
  padding: 3% 15%;
}
.navbar-brand{
  font-size: 36px;
  font-weight: 600;
}
.rotate-img{
  transform: rotate(28deg);
  padding-top: 10%;
  height: 90%;
}
.nav-item{
  padding: 0 20px;
  font-size: 20px;
}
